<div class="banner mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)), url(https://images.squarespace-cdn.com/content/v1/5497331ae4b0148a6141bd47/1594500041049-90AK78L2HBXEL4T08WRM/7bdbc75725194a9a44d66846fc37962e.jpg?format=1500w);">
  <div class="container show-list">
    <h1 class="mb-3"><%= @list.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 btn-bookmark-show">
      <%= link_to "Add Bookmark", new_list_bookmark_path(@list), class:"btn-add-bookmark" %>
      <div class="btn-list">
        <%= link_to "Edit", edit_list_path, class: "btn-list-edit " %>
        <%= link_to "Delete", list_path(@list), method: :delete, data: { confirm: "Are you sure?" }, class: "c" %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">

    <% @list.movies.each do |movie| %>
      <div class="col-sm-12 col-md-4 mb-3">
        <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
          <div class="card-trip">
            <%= image_tag movie.poster_url, alt: movie.title %>
            <div class="card-trip-infos">
            <div>
              <h2><%= movie.title %></h2>
              <p><%= movie.overview.first(150) %>...</p>
              <hr>
              <p><%= bookmark.comment %></p>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
